@model _8DManagementSystem.Model.D_Board_Model
@{
    ViewBag.Title = "BoardEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb">
    <li><a href="/8DReport/">Home</a></li>
    <li><a href="~/UserCenter">Administration</a></li>
    <li><a href="~/Board">Board</a></li>
    <li class="active">Edit Board</li>
</ol>

<div class="alert alert-success" role="alert">
    Well done! You successfully read this important alert message. 这是一个DEMO
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        @*<button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus-sign"></span>Create new user
      </button>*@
        <button type="button" class="btn btn-default collapsed" data-toggle="collapse" data-target="#help" aria-expanded="false" aria-controls="demo">
            <span class="glyphicon glyphicon-question-sign"></span>Help <span class="caret"></span>
        </button>
    </div>
    <div id="help" class="panel-body collapse" aria-expanded="false" style="height: 30px;">
        <p class="lead">8D Report Edit Board ：用于编辑 8D Board</p>
        <p><strong>Create new report:</strong> 创建8D报告Board</p>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.form.js")"></script>
<script type="text/javascript">
    function Submitt() {

        if ($("#BoardName").val() == "") {
            alert("BoardName Can't be Empty");
            $("#BoardName").focus();
            return false;
        }

        $('#form0').ajaxSubmit({
            success: function (data) {
                if (data.success) {
                    var url = "../../Board";
                    //alert(url);
                    window.location.href = url;
                } else {
                    alert(data.message);
                }
            }
        });
    }

</script>
<div class="panel panel-default">
    <div class="panel-heading">Edit Role</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("BoardEdit", "Board", null, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "Back", OnComplete = "Back" }, new { id = "form0", enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.BoardGuid)
            <!-- #section:elements.form -->

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Board Name</label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.BoardName)
                    @Html.ValidationMessageFor(model => model.BoardName)
                    @*<input type="text" id="txtUserName" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                </div>
            </div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button" id="submit" onclick="Submitt()">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Submit
                    </button>
                    &nbsp; &nbsp; &nbsp;
          <button class="btn" type="reset">
              <i class="ace-icon fa fa-undo bigger-110"></i>
              Reset
          </button>
                </div>
            </div>

            <div class="hr hr-24"></div>
        }
    </div>
</div>
