@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/8DReport/">Home</a></li>
    <li><a href="~/UserCenter">Administration</a></li>
    <li><a href="~/Board">Board</a></li>
    <li class="active">Edit Board</li>
</ol>

<div class="alert alert-success" role="alert">
    Well done! You successfully read this important alert message. 这是一个DEMO
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        @*<button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus-sign"></span>Create new user
      </button>*@
        <button type="button" class="btn btn-default collapsed" data-toggle="collapse" data-target="#help" aria-expanded="false" aria-controls="demo">
            <span class="glyphicon glyphicon-question-sign"></span>Help <span class="caret"></span>
        </button>
    </div>
    <div id="help" class="panel-body collapse" aria-expanded="false" style="height: 30px;">
        <p class="lead">8D Report Setting Language ：用于设置语言</p>
    </div>
</div>
<script src="@Url.Content("~/Contents/assets/js/jquery.form.js")"></script>
<script src="@Url.Content("~/Contents/assets/js/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript">
    function Submitt() {
        $('#form0').ajaxSubmit({
            success: function (data) {
                if (data.success) {
                    var url = "../../Board";
                    //alert(url);
                    window.location.href = url;
                } else {
                    alert(data.message);
                }
            }
        });
    }

</script>
<div class="panel panel-default">
    <div class="panel-heading">Setting Language</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("BoardEdit", "Board", null, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "Back", OnComplete = "Back" }, new { id = "form0", enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.BoardGuid)
            <!-- #section:elements.form -->

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Board Name</label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.BoardName)
                    @Html.ValidationMessageFor(model => model.BoardName)
                    @*<input type="text" id="txtUserName" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                </div>
            </div>
        }
    </div>
</div>

